
.benefits {
padding-top: 60px;
padding-bottom: 60px;
    @include  forDesktop{
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.benefits__list{
display: flex;
flex-direction: row;
gap: 30px;
align-items: flex-start;
flex-wrap: wrap;
}

.benefits__icon{
height: 120px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
background-color: $sectionColor;
border-radius: 4px;
}  

.benefits__item{
flex-basis: calc(100vw - 30px);
    @include forTabletUp{
        flex-basis: calc((100% - 30px)/2);
    }
    @include forDesktop{
        flex-basis: calc((100% - 90px)/4);
    }
}


.benefits__title{
margin-bottom: 10px;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $mainColor;
text-align: center;
    @include forTabletUp{
        text-align: start;
    }
}

.benefits__text{
font-size: 14px;
line-height: 1.171;
letter-spacing: 0.03em;
color: $paleColor;
}