@media screen and (max-width: 480px) {
.benefits {
            padding-top: 60px;
            padding-bottom: 60px;
}
.benefits__list{
display: flex;
flex-direction: column;
gap: 30px;
align-items: center;

}
.benefits__item{
    max-width: 450px;
}
.benefits__icon{
    height: 120px;
        max-width: 450px;
         display: flex;
      justify-content: center;
     align-items: center;
     margin-bottom: 30px;
     background-color: $sectionColor;
     border-radius: 4px;
    
}
.benefits__item{
    max-width: 450px;
}
.benefits__title{
    font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $mainColor;
        margin-bottom: 10px;
}
.benefits__text{
    font-size: 14px;
        line-height: 1.171;
        letter-spacing: 0.03em;
        color: $paleColor;
}
}
// .benefits {
//     padding-top: 94px;
//     padding-bottom: 94px;

//     &__list {
//         display: flex;
//         gap: 30px;
//     }

//     &__item {
//         max-width: 270px;
//     }

//     &__icon {
//         height: 120px;
//         width: 270px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin-bottom: 30px;
//         background-color: $sectionColor;
//         border-radius: 4px;
//     }

//     &__title {
//         @include textStyles($mainColor,14px,1.14,0.03em);
//         margin-bottom: 10px;
//         text-transform: uppercase;
//     }

//     &__text {
//         @include textStyles($paleColor, 14px, 1.71, 0.03em);
//     }
// }