
.customer__list li {
max-width: 210px;
width: 100%;
}
.customer {
padding-top: 60px;
padding-bottom: 60px;
    @include forDesktop{
        padding-top: 94px;
        padding-bottom: 94px;
     }
}
.customer__title{
margin-bottom: 30px;
font-size: 28px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: $mainColor;
    @include forDesktop {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 42px;  
    }
}
.customer__list{
display: flex;
flex-wrap: wrap;
gap: 30px;
    @include forDesktop{
        flex-wrap: nowrap;
    }
}
 .customer__link {
display: flex;
justify-content: center;
align-items: center;
flex-basis: calc((100% - 30px)/2);
color: #AFB1B8;
border: 1px solid #AFB1B8;
border-radius: 4px;
transition-property: color, border;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include forTabletUp{
        flex-basis: calc((100% - 60px)/3);
    }
    @include forDesktop{
        flex-basis: calc((100% - 150px)/6);
   }
}

.customer__link:hover,
.customer__link:focus {
color: $accentColor;
border: 1px solid $accentColor;
}

.customer__icon {
fill: currentColor;
}

