.footer {
padding-top: 60px;
padding-bottom: 60px;
background-color: $heroColor;
}

.footer__container {
display: flex;
flex-direction: column;
align-items: center;
gap: 60px;
margin-left: 0;
margin-right: 0;
    @include forTabletUp{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        
    }
    @include forDesktop{
        flex-wrap: nowrap;
        gap: 80px;
    }
} 

.footer__left{
display: flex;
flex-direction: column;
align-items: center;
    @include forTabletUp{
        margin-right: 156px;
    }
    @include forDesktop{
        margin-right: 0;
        align-items: flex-start;
    }
}

.footer__logo {
display: block;
margin-bottom: 20px;
font-family: 'Raleway', sans-serif;
font-weight: $boldText ;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.03em;
color: $contrastColor;
text-decoration: none;
    @include forDesktop{
        font-size: 26px;
        line-height: 1.19;
    }
}  

.footer__link {
display: block;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: $contrastColor;
font-style: normal;
text-decoration: none;
}

.address__list{
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
    @include forDesktop{
        align-items: flex-start;
        min-width: 231px;
    }
}
.footer__contact {
opacity: .6;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: $accentColor;
    } 
}

.join{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join__title {
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: $contrastColor;
    @include forDesktop{
        align-self: start;
    }
}

.join__list {
display: flex;
gap: 10px;
}

.join__social {
display: block;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
width: 44px;
height: 44px;
background-color: rgba(255, 255, 255, 0.1);
color: $contrastColor;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: $accentColor;
    }
}

.join__icon {
fill: currentColor;
}

.footer__right{
// width: 100%;
// text-align: center;
    @include forDesktop{
        text-align: start;
    }
}

.footer-form {
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
    @include forDesktop{
        flex-direction: row;
        gap: 12px;
    }
}

.footer-form__input {
width: calc(100vw - 30px);
padding: 16px;
background-color: $heroColor;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
outline: none;
@include forPhoneOnly{
    max-width: 450px;
}
    @include forTabletUp{
        width: 450px;
    }
    @include forDesktop{
        width:358px ;    
    }
}

.footer-form__button {
display: flex;
align-items: center;
padding: 10px 31px;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: $accentColor;
font-family: inherit;
font-weight: $boldText ;
border: none;
outline: none;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
cursor: pointer;
    &:hover,
    &:focus {
    background-color: #188CE8;
    }
}
.footer-form__icon {
fill: currentColor;
margin-left: 12px;
}
