body {
    font-family: 'Roboto', sans-serif;
}

h1,
h3,
h2,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body.modal-open{
    overflow: hidden;
}

.container {
margin: 0 auto;
padding: 0 15px;
    @media screen and (max-width: 767px) {
        width: 480px;
    }
    @media screen and (min-width:768px) and (max-width:1169px){
        width: 768px;
    }
    @media screen and (min-width:1170px){
        width: 1200px;
    }
}