body {
    font-family: 'Roboto', sans-serif;
}

h1,
h3,
h2,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

// .container {
//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 0 15px;
// }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
@media screen and (max-width: 480px) {
    .container {
    max-width: 480px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;
    }
}