@mixin textStyles ($color: $mainColor, $size:16px, $lineHeight:1.14, $letterSpacing:0.03em) {
    color: $color;
    font-size: $size;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}