$mainColor:#212121;
$accentColor: #2196F3;
$contrastColor:#ffffff;
$paleColor:#757575;
$sectionColor:#F5F4FA;
$darkColor:#000000;
$heroColor:#2F303A;

$boldText: 700;
$normalText: 400;
$mediumText:500;
$largeText:900;






